@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

:root {
    --primary-color: #C4C4C4;
    --primary-font-color: #000;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

#d1{
      scroll-behavior: smooth;
      width: 100%;
      height: 100%;
      overflow: scroll;
  }
  
  body{
    font-family: "Poppins", sans-serif;
    overflow: hidden;
  }

ul{
    list-style: none;
}

a{
    text-decoration: none;
}
.promo{
    background-color: #fff5d0;
    text-align: center;
    color: black;
    padding: 0.5rem 0;
}

.promo a i{
    float: right;
    margin: 12px;
}



.promo h1{
    padding-left: 25px;
}

.promo h4{
    padding-right: 85px;
}


header{
    top: 0%;
    background-color: #60b4df;
    width: 100%;
    z-index: 1000;
    position: fixed;
}


section{
    position: relative;
    height: calc(100vh -3rem);
    width: 100%;
    overflow: hidden;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(56, 165, 238, 0.5);
}


.container{
    max-width: 65rem;
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.logo-container{
    flex: .5;
    display: flex;
    align-items: center;
}

.nav-btn{
    flex: 3.5;
    display: flex;
}

.nav-links{
    flex: 2.5;
}

.log-sign{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 3rem;
}

.logo span{
    font-weight: 300;
}

.btn{
    display: inline-block;
    padding: .5rem 1.3rem;
    font-size: .8rem;
    border: 2px solid #fff;
    border-radius: 2rem;
    line-height: 1;
    margin: 0 .2rem;
    transition: .3s;
    text-transform: uppercase;
}

.btn.solid, .btn.transparent:hover{
    background-color: #fff;
    color: #69bde7;
}

.btn.transparent, .btn.solid:hover{
    background-color: transparent;
    color: #fff;
}

.nav-links > ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link{
    position: relative;
}

.nav-link > a{
    line-height: 3rem;
    color: #fff;
    padding: 0 .8rem;
    letter-spacing: 1px;
    font-size: .95rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
}

.nav-link > a i{
    margin-left: .2rem;
}

.nav-link:hover > a{
    transform: scale(1.1);
}

.hamburger-menu-container{
    flex: 1;
    display: none;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger-menu div{
    width: 1.6rem;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
    position: relative;
    z-index: 1001;
    transition: .5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after{
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #fff;
    border-radius: 3px;
}

.hamburger-menu div:before{
    transform: translateY(-7px);
}

.hamburger-menu div:after{
    transform: translateY(7px);
}

#check{
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    z-index: 90000;
    cursor: pointer;
    opacity: 0;
    display: none;
}

#check:checked ~ .hamburger-menu-container
.hamburger-menu div{
    background-color: transparent;
}

#check:checked ~ .hamburger-menu-container
.hamburger-menu div:before{
    transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .hamburger-menu-container
.hamburger-menu div:after{
    transform: translateY(0) rotate(45deg);
}

@keyframes animation{
    from{
        opacity: 0;
        transform: translateY(15px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (max-width:920px){
    .hamburger-menu-container{
        display: flex;
    }

    #check{
        display: block;
    }
    .nav-btn{
        position: fixed;
        height: calc(100vh - 3rem);
        top: 3rem;
        left: 0;
        width: 100%;
        background-color: #69bde7;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translateX(100%);
        transition: .65s;
    }

#check:checked ~ .nav-btn{
    transform: translateX(0);
}

#check:checked ~ .nav-btn .nav-link,
#check:checked ~ .nav-btn .log-sign{
    animation:animation .5s ease forwards var(--i);
}


    .nav-links{
        flex: initial;
        width: 100%;
    }

    .nav-links > ul{
        flex-direction: column;
    }

    .nav-link{
        width: 100%;
        opacity: 0;
        transform: translateY(15px);
    }

    .nav-link > a{
        line-height: 1;
        padding: 1.6rem 2rem;
    }

    .nav-link:hover > a{
        transform: scale(1);
        background-color: #50a9d6;
    }

    .nav-link > a > i{
        font-size: 1.1rem;
        transform: rotate(-90deg);
        transition: .7s;
    }

    .nav-link:hover > a > i{
        transform: rotate(360deg);
    }

    .log-sign{
        flex: initial;
        width: 100%;
        padding: 1.5rem 1.9rem;
        justify-content: flex-start;
        opacity: 0;
        transform: translateY(15px);
    }
}


/* Slider Image */

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    padding-top: 120px;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }

  hr{
    border-top: 1px solid grey;
  }



  /* Our Work */

  #work{
    padding-top: 15px;
    padding-bottom: 0;
    background-color: rgb(158, 163, 163);
  }

  .hname h4{
      text-align: center;
  }
  

.box {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }


.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .grid-item1 {
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .grid-item2 {
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .grid-item3 {
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .grid-item4 {
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .grid-item5 {
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

img{
    border: black;
    border-radius: 10px;
  }

  

  /* About us */

  #about{
    padding-top: 15px;
    padding-bottom: 0;
    background-color: grey;
} 

.profile-img{
	height: 400px;
    float: left;
    margin-right: 100px;
}

.col-md-6 h3{
    text-align: center;
    font-size: 15px;
}


/* Sign in */
.sign-in {
    border-radius: 10px;
    background: var(--primary-color);
    margin: 100px;
    padding: 50px;
}

form {
    line-height: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.sign {
    padding-left: 30px;
    font-size: 30px;
}

.create {
    float: right;
}

label {
    font-size: 16px;
}

.create {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

a {
    font-size: 16px;
}

.forget {
    text-decoration: none;
    float: right;
    color: var(--primary-font-color);
}

input {
    border-radius: 5px;
    border: none;
}

button:hover {
    cursor: pointer;
}

button {
    font-size: 16px;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    background: #fff;

}

/* Register */

.create-acc {
    border-radius: 10px;
    background: var(--primary-color);
    margin: 100px;
    padding: 50px;
}
